body{
  margin: 0 !important;
}

.AppBar {
  justify-content: space-between;
  color: #ffffff;
 
}

.App{
  
  height: 100vh;
}

.editCurrentListBtn{
  float:right;
  margin-top: 10px! important;  
  margin-right: 25px !important;
  margin-bottom: 25px !important;
}

.addNewListBtn{
  float:right;
  margin-top: 10px! important;
}

.Divider{
  margin-top: 9px !important;
  margin-bottom: 10px !important;
}

.LoginFragment__Btns {
  margin-top: 25px !important;
  margin-left: 10px !important;
}

.Paper{
  padding: 20px;
  margin: 20px; 
}

.TobiAutoComplete__tf_main{
  margin: 20px;
  width: 100%;
  margin-bottom: 15px !important;
}

.TobiAutoComplete__container_suggestions{
  margin-top: 15px;
}

.Chip{
  margin: 5px;
}

.LoginFragment{
  padding: 25px;
}

.LoginFragment:first-child {
  display: block;
  margin: 15px;
}


.ListsFragment{
  margin: 12px 25px 0 25px;
  width: 200px;
}