.App {
  text-align: center;
}

.AppBar{
  text-align:center;
}

.LoginFragment__Btns{
  margin-top: 25px !important;
  margin-left: 10px !important;
}

.Paper{
  padding: 20px;
  margin: 20px; 
}

.TobiAutoComplete__tf_main{
  margin: 20px;
  width: 100%;
  margin-bottom: 15px !important;
}

.TobiAutoComplete__container_suggestions{
  margin-top: 15px;
}

.Chip{
  margin: 5px;
}

.LoginFragment{
  padding: 25px;
}

.LoginFragment:first-child {
  display: block;
  margin: 15px;
}
